/**
* Growmodo, GmbH
* Growmodo Hub - Custom Icon Library
* Copywrite: Mike Saraus (https://github.com/mikesaraus)
*/

@font-face {
    font-family: "GrowmodoIconFont";
    src: url('GrowmodoIconFont.woff') format('woff');
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: GrowmodoIconFont !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 1;
  font-variant: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  shape-rendering: crispEdges;
  font-feature-settings: "liga";
}

.icon-alert-circle:before {
  content: "\f101";
}
.icon-alert-octagon:before {
  content: "\f102";
}
.icon-alert-triangle:before {
  content: "\f103";
}
.icon-align-bottom-01:before {
  content: "\f104";
}
.icon-align-center:before {
  content: "\f105";
}
.icon-align-justify:before {
  content: "\f106";
}
.icon-align-left:before {
  content: "\f107";
}
.icon-align-right:before {
  content: "\f108";
}
.icon-align-top-arrow-01:before {
  content: "\f109";
}
.icon-all-categories:before {
  content: "\f10a";
}
.icon-annotation-check:before {
  content: "\f10b";
}
.icon-archive:before {
  content: "\f10c";
}
.icon-arrow-circle-broken-down:before {
  content: "\f10d";
}
.icon-arrow-circle-broken-up:before {
  content: "\f10e";
}
.icon-arrow-narrow-down:before {
  content: "\f10f";
}
.icon-arrow-narrow-left:before {
  content: "\f110";
}
.icon-arrow-narrow-right:before {
  content: "\f111";
}
.icon-arrow-narrow-up-right:before {
  content: "\f112";
}
.icon-arrow-narrow-up:before {
  content: "\f113";
}
.icon-arrows-right:before {
  content: "\f114";
}
.icon-attachment-02:before {
  content: "\f115";
}
.icon-bar-chart-square-01:before {
  content: "\f116";
}
.icon-bell-01:before {
  content: "\f117";
}
.icon-bold-01:before {
  content: "\f118";
}
.icon-book-cover:before {
  content: "\f119";
}
.icon-brackets-plus:before {
  content: "\f11a";
}
.icon-brand-guidelines:before {
  content: "\f11b";
}
.icon-briefcase-01:before {
  content: "\f11c";
}
.icon-briefcase-02:before {
  content: "\f11d";
}
.icon-browser:before {
  content: "\f11e";
}
.icon-building-05:before {
  content: "\f11f";
}
.icon-calculator:before {
  content: "\f120";
}
.icon-calendar:before {
  content: "\f121";
}
.icon-cancel:before {
  content: "\f122";
}
.icon-check-circle-broken:before {
  content: "\f123";
}
.icon-check-circle:before {
  content: "\f124";
}
.icon-check-square:before {
  content: "\f125";
}
.icon-check:before {
  content: "\f126";
}
.icon-chevron-down:before {
  content: "\f127";
}
.icon-chevron-left-double:before {
  content: "\f128";
}
.icon-chevron-left:before {
  content: "\f129";
}
.icon-chevron-right-double:before {
  content: "\f12a";
}
.icon-chevron-right:before {
  content: "\f12b";
}
.icon-chevron-up:before {
  content: "\f12c";
}
.icon-circle-01:before {
  content: "\f12d";
}
.icon-circle-active:before {
  content: "\f12e";
}
.icon-circle-inactive:before {
  content: "\f12f";
}
.icon-circle:before {
  content: "\f130";
}
.icon-clapperboard:before {
  content: "\f131";
}
.icon-clear-all:before {
  content: "\f132";
}
.icon-clock:before {
  content: "\f133";
}
.icon-code-02:before {
  content: "\f134";
}
.icon-code-browser:before {
  content: "\f135";
}
.icon-code-snippet-02:before {
  content: "\f136";
}
.icon-code-square-01:before {
  content: "\f137";
}
.icon-colors:before {
  content: "\f138";
}
.icon-compass-03:before {
  content: "\f139";
}
.icon-copy-06:before {
  content: "\f13a";
}
.icon-corner-down-left:before {
  content: "\f13b";
}
.icon-corner-down-right:before {
  content: "\f13c";
}
.icon-credit-card-02:before {
  content: "\f13d";
}
.icon-cube-01:before {
  content: "\f13e";
}
.icon-data-enrichment:before {
  content: "\f13f";
}
.icon-dataflow-01:before {
  content: "\f140";
}
.icon-dataflow-03:before {
  content: "\f141";
}
.icon-dataflow-04:before {
  content: "\f142";
}
.icon-done-all:before {
  content: "\f143";
}
.icon-dots-horizontal:before {
  content: "\f144";
}
.icon-dots-vertical:before {
  content: "\f145";
}
.icon-download-02:before {
  content: "\f146";
}
.icon-download-04:before {
  content: "\f147";
}
.icon-download-cloud-01:before {
  content: "\f148";
}
.icon-dropper:before {
  content: "\f149";
}
.icon-edit-01:before {
  content: "\f14a";
}
.icon-edit-03:before {
  content: "\f14b";
}
.icon-edit-05:before {
  content: "\f14c";
}
.icon-eye-off:before {
  content: "\f14d";
}
.icon-eye:before {
  content: "\f14e";
}
.icon-face-sad:before {
  content: "\f14f";
}
.icon-file-06:before {
  content: "\f150";
}
.icon-file-attachment-04:before {
  content: "\f151";
}
.icon-file-check-03:before {
  content: "\f152";
}
.icon-file-download-01:before {
  content: "\f153";
}
.icon-filter-funnel-01:before {
  content: "\f154";
}
.icon-filter-funnel-02:before {
  content: "\f155";
}
.icon-filter-lines:before {
  content: "\f156";
}
.icon-flag-01:before {
  content: "\f157";
}
.icon-flyer-brochure:before {
  content: "\f158";
}
.icon-folder-black:before {
  content: "\f159";
}
.icon-folder:before {
  content: "\f15a";
}
.icon-format-clear:before {
  content: "\f15b";
}
.icon-fullscreen:before {
  content: "\f15c";
}
.icon-gaming-pad-01:before {
  content: "\f15d";
}
.icon-gift-01:before {
  content: "\f15e";
}
.icon-gradient:before {
  content: "\f15f";
}
.icon-grid-01:before {
  content: "\f160";
}
.icon-growmodo-colored:before {
  content: "\f161";
}
.icon-growmodo-d:before {
  content: "\f162";
}
.icon-growmodo-g:before {
  content: "\f163";
}
.icon-growmodo-m:before {
  content: "\f164";
}
.icon-growmodo-o:before {
  content: "\f165";
}
.icon-growmodo-r:before {
  content: "\f166";
}
.icon-growmodo-w:before {
  content: "\f167";
}
.icon-growmodo:before {
  content: "\f168";
}
.icon-heading-01:before {
  content: "\f169";
}
.icon-home-05:before {
  content: "\f16a";
}
.icon-home-line:before {
  content: "\f16b";
}
.icon-home-smile:before {
  content: "\f16c";
}
.icon-image-03:before {
  content: "\f16d";
}
.icon-image-04:before {
  content: "\f16e";
}
.icon-image-indent-left:before {
  content: "\f16f";
}
.icon-image-plus:before {
  content: "\f170";
}
.icon-infinity:before {
  content: "\f171";
}
.icon-info-circle:before {
  content: "\f172";
}
.icon-italic-01:before {
  content: "\f173";
}
.icon-italic-square:before {
  content: "\f174";
}
.icon-layers-three-01:before {
  content: "\f175";
}
.icon-layout-alt-02:before {
  content: "\f176";
}
.icon-layout-alt-04:before {
  content: "\f177";
}
.icon-left-indent-01:before {
  content: "\f178";
}
.icon-lightning-quick:before {
  content: "\f179";
}
.icon-line-chart-up-03:before {
  content: "\f17a";
}
.icon-link-01:before {
  content: "\f17b";
}
.icon-link-broken-01:before {
  content: "\f17c";
}
.icon-link-external-01:before {
  content: "\f17d";
}
.icon-list-numbered:before {
  content: "\f17e";
}
.icon-list:before {
  content: "\f17f";
}
.icon-loading-01:before {
  content: "\f180";
}
.icon-lock-01:before {
  content: "\f181";
}
.icon-lock-04:before {
  content: "\f182";
}
.icon-log-out-01:before {
  content: "\f183";
}
.icon-magic-wand-02:before {
  content: "\f184";
}
.icon-mail-02:before {
  content: "\f185";
}
.icon-maximize-02:before {
  content: "\f186";
}
.icon-message-chat-square:before {
  content: "\f187";
}
.icon-message-check-square:before {
  content: "\f188";
}
.icon-message-dots-square:before {
  content: "\f189";
}
.icon-message-heart-square:before {
  content: "\f18a";
}
.icon-message-question-square:before {
  content: "\f18b";
}
.icon-message-smile-square:before {
  content: "\f18c";
}
.icon-message-square-02:before {
  content: "\f18d";
}
.icon-minus:before {
  content: "\f18e";
}
.icon-monitor-03:before {
  content: "\f18f";
}
.icon-motion-graphic:before {
  content: "\f190";
}
.icon-online-course:before {
  content: "\f191";
}
.icon-packaging-design:before {
  content: "\f192";
}
.icon-palette:before {
  content: "\f193";
}
.icon-paper-plane-2:before {
  content: "\f194";
}
.icon-passcode-lock:before {
  content: "\f195";
}
.icon-pause-circle:before {
  content: "\f196";
}
.icon-pen-tool-02:before {
  content: "\f197";
}
.icon-pencil-02:before {
  content: "\f198";
}
.icon-pending:before {
  content: "\f199";
}
.icon-percent-03:before {
  content: "\f19a";
}
.icon-phone-02:before {
  content: "\f19b";
}
.icon-phone-call-01:before {
  content: "\f19c";
}
.icon-play-solid:before {
  content: "\f19d";
}
.icon-play:before {
  content: "\f19e";
}
.icon-plus-square:before {
  content: "\f19f";
}
.icon-plus:before {
  content: "\f1a0";
}
.icon-presentation-chart-01:before {
  content: "\f1a1";
}
.icon-printer:before {
  content: "\f1a2";
}
.icon-puzzle-piece-02:before {
  content: "\f1a3";
}
.icon-puzzle-piece:before {
  content: "\f1a4";
}
.icon-quote:before {
  content: "\f1a5";
}
.icon-refresh-ccw-01:before {
  content: "\f1a6";
}
.icon-refresh-ccw-03:before {
  content: "\f1a7";
}
.icon-refresh-cw-01:before {
  content: "\f1a8";
}
.icon-reverse-left:before {
  content: "\f1a9";
}
.icon-reverse-right:before {
  content: "\f1aa";
}
.icon-right-indent-01:before {
  content: "\f1ab";
}
.icon-rows-03:before {
  content: "\f1ac";
}
.icon-sale-02:before {
  content: "\f1ad";
}
.icon-save-01:before {
  content: "\f1ae";
}
.icon-scale-01:before {
  content: "\f1af";
}
.icon-search-lg:before {
  content: "\f1b0";
}
.icon-search-sm:before {
  content: "\f1b1";
}
.icon-send-03:before {
  content: "\f1b2";
}
.icon-server-01:before {
  content: "\f1b3";
}
.icon-server-05:before {
  content: "\f1b4";
}
.icon-settings-01:before {
  content: "\f1b5";
}
.icon-settings-02:before {
  content: "\f1b6";
}
.icon-shield-tick:before {
  content: "\f1b7";
}
.icon-shopping-cart-03:before {
  content: "\f1b8";
}
.icon-social-angellist:before {
  content: "\f1b9";
}
.icon-social-apple:before {
  content: "\f1ba";
}
.icon-social-clubhouse:before {
  content: "\f1bb";
}
.icon-social-discord:before {
  content: "\f1bc";
}
.icon-social-dribbble:before {
  content: "\f1bd";
}
.icon-social-facebook:before {
  content: "\f1be";
}
.icon-social-figma:before {
  content: "\f1bf";
}
.icon-social-github:before {
  content: "\f1c0";
}
.icon-social-google:before {
  content: "\f1c1";
}
.icon-social-instagram:before {
  content: "\f1c2";
}
.icon-social-linkedin:before {
  content: "\f1c3";
}
.icon-social-pinterest:before {
  content: "\f1c4";
}
.icon-social-reddit:before {
  content: "\f1c5";
}
.icon-social-signal:before {
  content: "\f1c6";
}
.icon-social-snapchat:before {
  content: "\f1c7";
}
.icon-social-telegram:before {
  content: "\f1c8";
}
.icon-social-tiktok:before {
  content: "\f1c9";
}
.icon-social-tumblr:before {
  content: "\f1ca";
}
.icon-social-twitter:before {
  content: "\f1cb";
}
.icon-social-youtube:before {
  content: "\f1cc";
}
.icon-speedometer-02:before {
  content: "\f1cd";
}
.icon-square-active:before {
  content: "\f1ce";
}
.icon-square-inactive:before {
  content: "\f1cf";
}
.icon-square:before {
  content: "\f1d0";
}
.icon-star-01:before {
  content: "\f1d1";
}
.icon-star-asterisk:before {
  content: "\f1d2";
}
.icon-star-fill:before {
  content: "\f1d3";
}
.icon-strikethrough-01:before {
  content: "\f1d4";
}
.icon-style:before {
  content: "\f1d5";
}
.icon-tag:before {
  content: "\f1d6";
}
.icon-terminal-browser:before {
  content: "\f1d7";
}
.icon-tick:before {
  content: "\f1d8";
}
.icon-tool-02:before {
  content: "\f1d9";
}
.icon-trash-01:before {
  content: "\f1da";
}
.icon-tune:before {
  content: "\f1db";
}
.icon-type-01:before {
  content: "\f1dc";
}
.icon-type-02:before {
  content: "\f1dd";
}
.icon-type-square:before {
  content: "\f1de";
}
.icon-underline-01:before {
  content: "\f1df";
}
.icon-upload-01:before {
  content: "\f1e0";
}
.icon-upload-04:before {
  content: "\f1e1";
}
.icon-upload-cloud-01:before {
  content: "\f1e2";
}
.icon-user-03:before {
  content: "\f1e3";
}
.icon-user-plus-01:before {
  content: "\f1e4";
}
.icon-users-01:before {
  content: "\f1e5";
}
.icon-users-02:before {
  content: "\f1e6";
}
.icon-users-plus:before {
  content: "\f1e7";
}
.icon-video-recorder:before {
  content: "\f1e8";
}
.icon-wallet-02:before {
  content: "\f1e9";
}
.icon-wifi-off:before {
  content: "\f1ea";
}
.icon-workflow-setup:before {
  content: "\f1eb";
}
.icon-x-circle:before {
  content: "\f1ec";
}
.icon-x-close:before {
  content: "\f1ed";
}
.icon-zoom-in:before {
  content: "\f1ee";
}
.icon-zoom-out:before {
  content: "\f1ef";
}
